{% extends 'app_market/base.html' %}

{% block title %}
    {{ category }}
{% endblock %}

{% block content %}
    <h1>Category: {{ category.title }}.</h1>
        {% for item in item_list %}
                    <div class="product_card">
                        <div class="product_title"><a href="{% url 'product_detail' pk=item.id%}">{{ item.title }}</a></div>
                        <div class="product_img"><img src="{{ item.get_upload_url }}" height="300"></div>
                        <div class="product_desc">{{ item.get_short_desc }}</div>
                        <div class="product_price">{{ item.price }} USD</div>
                        <div class="product_review_amt">{{ review_count }}</div>
                        <div class="buy_form">
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="product_button">
                                    <input type="submit" value="Add to cart">
                                </div>
                            </form>
                        </div>
                    </div>
    {% endfor %}

{% endblock %}
