{% extends 'app_market/base.html' %}

{% block title %}
    Delivery form
{% endblock %}

{% block content %}
    <h1>Confirmation of an order:</h1>
    <h3>Your order:</h3>
    {% for product in cart %}
    <ul>
        <li>
              <div class="product_card">
                    <div class="product_title"><a href="{% url 'product_detail' pk=product.item.id%}">{{ product.item.title }}</a></div>
                    <div class="product_img"><img src="{{ product.item.get_upload_url }}" height="300"></div>
                    <div class="product_desc">{{ product.item.get_short_desc }}</div>
                    <div class="product_price">{{ product.item.price }} USD</div>
              </div>
        </li>
    </ul>
    {% endfor %}
    <h3>Delivery:</h3>
    <h4>
        City: {{ order.city }}<br>
        Address: {{ order.address }}<br>
        Total price: {{ order.price }} $<br>
        Phone numb: {{ order.user.profile.phone_numb }}<br>
        Email: {{ order.user.profile.email }}<br>
        {% if order.express_delivery %}
            Express delivery: Yes <br>
        {% else %}
            Express delivery: No <br>
        {% endif %}
    </h4>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Buy</button>
    </form>
{% endblock %}}